<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/index-style.css">
    <title>Signup</title>
</head>
<body>
    <form id="login">
        <h1 id="login-text">Login</h1>
        <div id="login-input">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="text" placeholder="ID" id="id" name="id"> <br>
            <input type="password" placeholder="password" id="passwd" name="passwd"> <br>
        </div>
        <div id="btns">
            <input type="submit" value="login" id="login-btn"> 
            <input type="submit" value="signup" id="signup-btn">
            <input type="submit" value="my page" id="my-page">
        </div>
        <footer>
            <span id="me">Made by Yunki Kim</span>
        </footer>
    </form>
    <script type="module" src="script/index-cli.js"></script>
</body>
</html>