<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/signup-style.css">
    <title>Document</title>
</head>
<body>
    <form id="signup">
        <h1 id="subject">signup</h1>
        <div id="input">
            <input type="text" placeholder="ID" name="id" id="id"> <br>
            <input type="text" placeholder="password" name="passwd1" id="passwd1"> <br>
            <input type="text" placeholder="password" name="passwd2" id="passwd2"> <br>
        </div>
       <div id="btns">
            <input type="submit" value="signup" id="signup-btn" class="btn">
            <input type="submit" value="main page" id="main-page" class="btn">
            <input type="submit" value="my page" id="my-page" class="btn">
       </div>
    </form>
    <script type="module" src="/script/signup-cli.js"></script>
</body>
</html>