
body{
    background-color: black;
}

#login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-text{
    color: white;
    font-size: 10vh;
}

#btns > *{
    background-color: white;
}

#login-input>*{
    border: 2px solid black;
    font-size: 5vh;
    height: 8vh;
    width: 50vw;
   
}


#login-btn, #signup-btn, #my-page{
    background-color: white;
    height: 8vh;
    width: 16.5vw;
    font-size: 3vw;
}

#me{
    color: white;
}