body{
    background-color: black;
}

#signup{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#subject{
    color: white;
    font-size: 10vh;
}

#input>*{
    border: 2px solid black;
    height: 8vh;
    width: 40vw;
    font-size: 2vw;
}

.btn{
    background-color: white;
    height: 8vh;
    width: 13.5vw;
    font-size: 2vw;
}
