body{
    background-color: black;
}

/* table{
    border: 1px solid black;
    border-collapse: collapse;
}

table th, table td{
    border: 1px solid black;
} */

#signup{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#subject{
    color: white;
    font-size: 10vh;
}

#input>*{
    border: 2px solid black;
    height: 8vh;
    width: 62vh;
    /* padding: 5vh 15vh; */
}

.btn{
    background-color: white;
    height: 8vh;
    width: 20.5vh;
}
/* .btn{
    font-size: medium;
    width: 20%;
} */